@page
@model WebServer.Pages.LoginModel
@{
    ViewData["Title"] = "PremierLeague";
}

<h2>@Model.Message</h2>
<h3>@Model.ExceptionMessage</h3>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<form method="post">
    Username:
    <input id="Username" type="text" name="Username" />
    Password:
    <input id="Password" type="password" name="Password" />
    <input type="submit" value="Submit">
</form>
