@page
@model NewsDetailsModel
@{
    ViewData["Title"] = "Home page";
}
<head>
  <meta charset="UTF-8">
  <title>News2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  
  <div class="main-container">
    <span style="font-size: 180%;">Новости</span>
    <b style="font-size : 180% ; height : 50px">Месси забил гол в свои ворота!</b>
  </div>
  <div style="float:right;margin-right: 130px;">
        <img style='width:500px; height:500px;' src="http://sun9-48.userapi.com/impg/_iKGyBoWZOvc9aH3rTszFah2i3xv5CeSPUHVDg/1j9G7Ly5ZOg.jpg?size=604x604&quality=96&sign=997ec014bfd5b889627e855f5c32d895&type=album">
        
  </div>
  <div class="informationABUS" style="margin-left: 30px;margin-top: 30px; width: 700px;">
    Здесь будет очень много текста к новости Здесь будет очень много текста к новости Здесь будет очень много текста к новости Здесь будет очень много текста к новости Здесь будет очень много текста к новости Здесь будет очень много текста к новостиЗдесь будет очень много текста к новости Здесь будет очень много текста к новости Здесь будет очень много текста к новости Здесь будет очень много текста к новости Здесь будет очень много текста к новости Здесь будет очень много текста к новости
  </div>

  
  <nav class="navbar fixed-bottom navbar-light bg-dark">
  <a class="navbar-brand" href="#">Разработчики</a>
  <a class="navbar-brand" href="#">О нас</a>
  <a class="navbar-brand" href="#">Помощь</a>

  </nav>
</body>
